<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <div class="container-fluid pt-4">
    <div class="d-flex justify-content-center">
      <h1 style="fs-2 mr-5">Danh sách sản phẩm</h1>
      <button class="btn btn-primary shadow-sm fs-5 ms-5" data-bs-toggle="modal" data-bs-target="#modalAdd"><i
          class="fa-solid fa-plus px-2"></i>Thêm sản phẩm</button>
    </div>

    <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAdd" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="/">
            <div class="modal-body">
              <div class="align-items-center">
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label class="col-form-label">Tên sản phẩm:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label class="col-form-label">Giá:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="number" class="form-control" id="price" name="price" required>
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label class="col-form-label">Số lượng:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="number" class="form-control" id="quantity" name="quantity" required>
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label class="col-form-label">Loại sản phẩm:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="text" class="form-control" id="type" name="type" required>
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label class="col-form-label">Khuyến mại:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="number" class="form-control" id="promotion" name="promotion" required>
                  </div>
                </div>

              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-primary" id="saveProduct">Lưu</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="row d-flex mt-5 justify-content-center">
      <div class="col-lg-11">
        {{#if arrProduct}}
        <table class="table-light table table-striped table-hover shadow-sm ">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên sản phẩm</th>
              <th>Giá sản phẩm</th>
              <th>Số lượng</th>
              <th>Loại</th>
              <th>Khuyến mại</th>
              <th>Chức năng khác</th>
            </tr>
          </thead>
          <tbody>
            {{#each arrProduct}}
            <tr>
              <td>{{@index}}</td>
              <td>{{this.name}}</td>
              <td>{{this.price}}</td>
              <td>{{this.quantity}}</td>
              <td>{{this.type}}</td>
              <td>{{this.promotion}}</td>
              <td class="d-flex">
                <button type="button" class="btn btn-danger  shadow-sm  fs-button" data-bs-toggle="modal"
                  data-bs-target="#deleteModal" data-id="{{this._id}}" data-name="{{this.name}}">Xóa</button>

                <button type="button" class="btn btn-warning ms-2" data-bs-toggle="modal" data-bs-target="#editModal"
                  data-id="{{this._id}}" data-name="{{this.name}}" data-price="{{this.price}}"
                  data-quantity="{{this.quantity}}" data-type="{{this.type}}"
                  data-promotion="{{this.promotion}}">Sửa</button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{else}}
        <p class="fs-1 mt-5 text-center text-danger">Chưa có dữ liệu</p>
        {{/if}}
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Xóa sản phẩm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Bạn có chắc chắn muốn xóa sản phẩm "<span id="productName" class="fw-semibold fst-italic"></span>" này?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <a id="delete-link" href="#" class="btn btn-danger  shadow-sm  fs-button">Xóa ngay</a>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Sửa sản phẩm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="editProductForm" action="/update" method="POST">
              <div class="modal-body">
                <div class="align-items-center">
                  <div class="row mb-2 align-items-center">
                    <div class="col-lg-4 col-md-12 col-xs-12">
                      <label class="col-form-label">Tên sản phẩm:</label>
                    </div>
                    <div class="col-lg-8 col-md-12 col-xs-12">
                      <input type="text" class="form-control" id="edit-name" name="name" required>
                    </div>
                  </div>
                  <div class="row mb-2 align-items-center">
                    <div class="col-lg-4 col-md-12 col-xs-12">
                      <label class="col-form-label">Giá:</label>
                    </div>
                    <div class="col-lg-8 col-md-12 col-xs-12">
                      <input type="number" class="form-control" id="edit-price" name="price" required>
                    </div>
                  </div>
                  <div class="row mb-2 align-items-center">
                    <div class="col-lg-4 col-md-12 col-xs-12">
                      <label class="col-form-label">Số lượng:</label>
                    </div>
                    <div class="col-lg-8 col-md-12 col-xs-12">
                      <input type="number" class="form-control" id="edit-quantity" name="quantity" required>
                    </div>
                  </div>
                  <div class="row mb-2 align-items-center">
                    <div class="col-lg-4 col-md-12 col-xs-12">
                      <label class="col-form-label">Loại sản phẩm:</label>
                    </div>
                    <div class="col-lg-8 col-md-12 col-xs-12">
                      <input type="text" class="form-control" id="edit-type" name="type" required>
                    </div>
                  </div>
                  <div class="row mb-2 align-items-center">
                    <div class="col-lg-4 col-md-12 col-xs-12">
                      <label class="col-form-label">Khuyến mại:</label>
                    </div>
                    <div class="col-lg-8 col-md-12 col-xs-12">
                      <input type="number" class="form-control" id="edit-promotion" name="promotion" required>
                    </div>
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-warning  shadow-sm  fs-button">Lưu</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
  <script>
    $(document).ready(function () {

      $('#exampleModal button.btn-primary').click(function () {
        $.ajax({
          type: "POST",
          url: "/",
          data: $("#add-product-form").serialize(),
          success: function () {
            // Reload page after saving product
            location.reload();
          }
        });
      });

      $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var productId = button.data('id');
        var productName = button.data('name');
        var modal = $(this);
        modal.find('#productName').text(productName);

        var deleteLink = '/delete/' + productId;
        $('#delete-link').attr('href', deleteLink);
      });

      $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var productId = button.data('id');
        var name = button.data('name');
        var price = button.data('price');
        var quantity = button.data('quantity');
        var type = button.data('type');
        var promotion = button.data('promotion');


        var modal = $(this);
        modal.find('#edit-name').val(name);
        modal.find('#edit-price').val(price);
        modal.find('#edit-quantity').val(quantity);
        modal.find('#edit-type').val(type);
        modal.find('#edit-promotion').val(promotion);

        $('#editProductForm').submit(function (event) {
          event.preventDefault();

          var productName = $('#edit-name').val();
          var productPrice = $('#edit-price').val();
          var productQuantity = $('#edit-quantity').val();
          var productType = $('#edit-type').val();
          var productPromotion = $('#edit-promotion').val();

          $.ajax({
            url: '/update/' + productId,
            type: 'POST',
            data: { name: productName, price: productPrice, quantity: productQuantity, type: productType, promotion: productPromotion },
            success: function (result) {
              location.reload();
            },
            error: function (err) {
              console.error(err);
            }
          });
          $('#editModal').modal('hide');
        });
      });
    });



  </script>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</body>

</html>